---
import Nav from '../components/Nav.astro';
---

<header>
  <nav>
    <Nav />
  </nav>
<<<<<<< HEAD:src/Components/header.astro
</header>
=======

</header>
>>>>>>> 6e4943e0d1c734c4a63e18b29a600c983210a56c:src/components/Header.astro
